.summary {
    .action-hint {
        // Let action hint wrap to the next line
        width: 100%;
        // And remote redundant margin that the component has
        margin-top: 0;
    }

    // Align hint items in the center of the flex container
    .pf-c-tile .pf-c-helper-text__item {
      align-items: center;
      justify-content: center;
    }
}
