[Desktop Entry]
Type=Application
Name=Liveinst Setup
TryExec=/usr/sbin/liveinst
Exec=/usr/libexec/liveinst-setup.sh
NoDisplay=true
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=false
