# File to automatically label pull requests
# See https://github.com/actions/labeler

# Auto-apply release labels based on base branch
{% for rel in supported_releases %}
{% if rel.release == 'fedora-rawhide' %}
f{$ rawhide_fedora_version $}:
{% elif rel.release.startswith('fedora-') %}
f{$ rel.release|replace('fedora-', '') $}:
{% elif rel.release.startswith('rhel-') %}
{$ rel.release $}:
{% else %}
{$ rel.release $}:
{% endif %}
- all:
  - base-branch: '{$ rel.target_branch $}'
  - changed-files:
    - any-glob-to-any-file: ['**']
{% endfor %}

documentation:
- any:
  - changed-files:
    - any-glob-to-any-file: ['docs/**']

infrastructure:
- any:
  - changed-files:
    - any-glob-to-any-file: ['.github/**', 'dockerfile/**']
