# File to automatically label pull requests
# See https://github.com/actions/labeler

# Always apply target fedora version to any changes
{% if distro_name == "fedora" and distro_release == "rawhide" %}
f{$ rawhide_fedora_version $}:
{% elif distro_name == "fedora" %}
f{$ distro_release $}:
{% elif distro_name == "rhel" %}
rhel-{$ distro_release $}:
{% endif %}
- any:
  - changed-files:
    - any-glob-to-any-file: ['**']

documentation:
- any:
  - changed-files:
    - any-glob-to-any-file: ['docs/**']

infrastructure:
- any:
  - changed-files:
    - any-glob-to-any-file: ['.github/**', 'dockerfile/**']
