# http://nedbatchelder.com/code/coverage/config.html

[run]
branch = True
parallel = True
source = ..

# used by coverage combine
# when combining Jenkins and kickstart_tests data
# doesn't affect combination of pyanaconda tests data
[paths]
source = .
        /usr/lib*/python*/site-packages/
        /usr/sbin/
