# Configuration file for the coverage tool
# See: https://coverage.readthedocs.io/en/stable/config.html

[run]
branch = True
parallel = True
source = ..
concurrency =
    multiprocessing
    thread

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    @abstractmethod
