*.a
*.bak
*.la
*.o
*.pyc
*.so
*~
.*.swp
.depend
.deps
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
anaconda*.tar
anaconda*.tar.bz2
anaconda*.tar.gz
anaconda.spec
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lang-names
lang-table.h
libtool
liveinst/*.desktop.in.h
loader/dirbrowser
loader/keymaps-override-*
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
po/*.gmo
po/*.po
po/POTFILES
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/remove-potcdate.sed
po/stamp-po
py-compile
stamp-h1
tags
ui/*.glade.h
xutils.la
xutils_la-xutils.lo
