*.a
*.bak
*.desktop.in.h
*.gir
*.la
*.lo
*.o
*.pyc
*.so
*.typelib
*~
.*.swp
.depend
.deps
.libs
_build
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
anaconda*.tar
anaconda*.tar.bz2
anaconda*.tar.gz
anaconda.spec
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/liveinst/gnome/fedora-welcome.desktop
depcomp
dirbrowser
install-sh
keymaps-override-*
libtool
liveinst.h
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
m4/
missing
po/*.gmo
po/*.po
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.insert-header
po/en@boldquot.header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.header
po/en@quot.po
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/tmp
po/.intltool-merge-cache
py-compile
stamp-h1
tags
test-driver
tests/autogui-results-*/
tests/*/*/*.log
tests/*/*/*.trs
tests/*/*.log
tests/*/*.trs
tests/*.log
tests/*.trs
tests/.coverage.*
tests/pylint/.pylint.d
tests/test-suite.log*
updates.img
utils/dd/dd_extract
utils/dd/dd_list
widgets/doc/AnacondaWidgets-*.txt
widgets/doc/AnacondaWidgets.*
widgets/doc/*.stamp
widgets/doc/html
widgets/doc/xml
widgets/gtk-doc.make
widgets/src/gettext.h
widgets/src/resources.*
data/liveinst/gnome/fedora-welcome.po
pyanaconda/version.py
.doctrees
_sources
.buildinfo
modules.rst
pyanaconda.*rst
.coverage
docs/tests/*.rst
po/LINGUAS
