*.a
*.bak
*.gir
*.la
*.lo
*.o
*.pyc
*.so
*.typelib
*~
.*.swp
.depend
.deps
.libs
_build
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
anaconda*.tar
anaconda*.tar.bz2
anaconda*.tar.gz
anaconda.spec
autom4te.cache
cockpit-*.rpm
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
dirbrowser
install-sh
keymaps-override-*
libtool
live.tar
liveinst.h
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
m4/
missing
po/*.mo
po/*.mpo
po/*.po
po/*.pot
py-compile
result/
stamp-h1
tags
test-driver
test-logs/
tests/autogui-results-*/
tests/*/*/*.log
tests/*/*/*.trs
tests/*/*.log
tests/*/*.trs
tests/*.log
tests/*.trs
tests/.coverage.*
tests/pylint/.pylint.d
tests/test-suite.log*
updates.img
utils/dd/dd_extract
utils/dd/dd_list
widgets/doc/AnacondaWidgets-*.txt
widgets/doc/AnacondaWidgets.*
widgets/doc/*.stamp
widgets/doc/html
widgets/doc/xml
widgets/gtk-doc.make
widgets/src/gettext.h
widgets/src/resources.*
widgets/src/an-localization.*
pyanaconda/version.py
.doctrees
_sources
.buildinfo
modules.rst
pyanaconda.*rst
.coverage
docs/tests/*.rst
zanata.xml
tests/rpm_tests/.cache/
.ruff_cache
