specfile_path: anaconda.spec
upstream_package_name: anaconda
upstream_tag_template: anaconda-{version}
copy_upstream_release_description: true
downstream_package_name: anaconda

files_to_sync:
  - rpmlint.toml
  - .packit.yml

srpm_build_deps:
  - automake
  - autoconf
  - autogen
  - glib2-devel
  - gettext-devel
  - python3-polib
  - gobject-introspection-devel
  - glade-devel
{% if distro_name == "fedora" %}
  - libxklavier-devel
{% elif distro_name == "rhel" and distro_release < 10 %}
  - libxklavier-devel
{% endif %}
  - libarchive-devel
  - rpm-devel
  - nss_wrapper
  - nodejs-npm

packages:
  anaconda-fedora:
    specfile_path: anaconda.spec
  anaconda-centos:
    specfile_path: anaconda.spec
    pkg_tool: centpkg

actions:
  post-upstream-clone:
    - ./autogen.sh
    - ./configure
  create-archive:
    - "make release"
    - 'bash -c "ls -1 anaconda-*.tar.bz2"'

{% set branch = branch_name %}
{% set releases_for_branch = supported_releases | selectattr('target_branch', 'equalto', branch) | list %}
{% set fedora_releases = releases_for_branch | selectattr('variant', 'equalto', 'fedora') | list %}
{% set rhel_releases = releases_for_branch | selectattr('variant', 'equalto', 'rhel') | list %}
jobs:
{% if fedora_releases %}
  # Propose downstream (Fedora)
  - job: propose_downstream
    trigger: release
    packages: [anaconda-fedora]
    dist_git_branches:
{% for rel in fedora_releases %}
      - {$ 'main' if rel.release == 'fedora-rawhide' else 'f' ~ (rel.release|replace('fedora-', '')) $}
{% endfor %}
{% endif %}
{% if rhel_releases %}
  # Propose downstream (RHEL)
  - job: propose_downstream
    trigger: release
    # Tarballs are not uploaded to GitLab PR on CentOS (https://github.com/packit/packit-service/issues/2436)
    manual_trigger: True
    packages: [anaconda-centos]
    dist_git_branches:
{% for rel in rhel_releases %}
      - c{$ rel.release|replace('rhel-', '') $}s
{% endfor %}
{% endif %}

{% if fedora_releases %}
  # Tests on PR (Fedora)
  - job: tests
    trigger: pull_request
    packages: [anaconda-fedora]
    targets:
{% for rel in fedora_releases %}
      - {$ rel.release $}
{% endfor %}
{% endif %}

{% if fedora_releases %}
  # COPR builds on PR (Fedora)
  - job: copr_build
    trigger: pull_request
    packages: [anaconda-fedora]
    targets:
{% for rel in fedora_releases %}
      - {$ rel.release $}
{% endfor %}
{% if branch == 'main' %}
      - fedora-eln
{% endif %}
{% endif %}

{% if fedora_releases %}
  # COPR builds on commit (Fedora): single job with multiple targets (add ELN on main)
  - job: copr_build
    trigger: commit
    packages: [anaconda-fedora]
    targets:
{% for rel in fedora_releases %}
      - {$ rel.release $}
{% endfor %}
{% if branch == 'main' %}
      - fedora-eln
{% endif %}
    branch: {$ branch $}
    owner: "@rhinstaller"
    project: Anaconda
    preserve_project: True
{% if branch != 'main' %}
    additional_repos:
      - "copr://@storage/blivet-daily"
      # This repository contains fixup of Rawhide broken environment.
      # Mainly useful when there is a package which is not yet in Rawhide but build is available.
      - "https://fedorapeople.org/groups/anaconda/repos/anaconda_fixup_repo/"
{% endif %}
{% endif %}

{% if distro_name == "fedora" %}
  - job: koji_build
    trigger: commit
    packages: [anaconda-fedora]
    sidetag_group: anaconda-releases
    dist_git_branches:
      - fedora-development
    allowed_committers:
      - m4rtink
      - kkoukiou
      - rvykydal
      - jkonecny
      - packit
    allowed_pr_authors:
      - m4rtink
      - kkoukiou
      - rvykydal
      - jkonecny
      - packit

  - job: bodhi_update
    trigger: koji_build
    packages: [anaconda-fedora]
    sidetag_group: anaconda-releases
    dependencies:
      - anaconda-webui
    dist_git_branches:
      - fedora-development
    allowed_builders:
      - m4rtink
      - kkoukiou
      - rvykydal
      - jkonecny
      - packit
{% endif %}
