specfile_path: anaconda.spec
upstream_package_name: anaconda
upstream_tag_template: anaconda-{version}-1
copy_upstream_release_description: true

srpm_build_deps:
  - automake
  - autoconf
  - autogen
  - glib2-devel
  - gettext-devel
  - python3-polib
  - gobject-introspection-devel
  - glade-devel
  - libxklavier-devel
  - libarchive-devel
  - rpm-devel
  - nss_wrapper
  - nodejs-npm

actions:
  post-upstream-clone:
    - ./autogen.sh
    - ./configure
  create-archive:
    - "make release"
    - 'bash -c "ls -1 anaconda-*.tar.bz2"'

{% if distro_name != "rhel" %}
jobs:
{% endif %}

{% if distro_release == "rawhide" %}

  - job: propose_downstream
    trigger: release
    dist_git_branches: main

  - job: tests
    trigger: pull_request
    targets:
      - fedora-rawhide

  - job: copr_build
    trigger: pull_request
    targets:
      - fedora-rawhide
      - fedora-eln

  - job: copr_build
    trigger: commit
    targets:
      - fedora-rawhide
      - fedora-eln
    branch: master
    owner: "@rhinstaller"
    project: Anaconda
    preserve_project: True

{% elif distro_name == "fedora" %}

  - job: propose_downstream
    trigger: release
    dist_git_branches: f{$ distro_release $}

  - job: tests
    trigger: pull_request
    targets:
      - fedora-{$ distro_release $}

  - job: copr_build
    trigger: commit
    targets:
      - fedora-{$ distro_release $}
    branch: fedora-{$ distro_release $}
    owner: "@rhinstaller"
    project: Anaconda-devel
    preserve_project: True
    additional_repos:
      - "copr://@storage/blivet-daily"
      # This repository contains fixup of Rawhide broken environment.
      # Mainly useful when there is a package which is not yet in Rawhide but build is available.
      - "https://fedorapeople.org/groups/anaconda/repos/anaconda_fixup_repo/"

{% endif %}
