#anaconda-spoke-selector-status {
    font-size: large;
    font-style: italic;
}

/* If the spoke is incomplete, display the text in red */
AnacondaSpokeSelector:inconsistent #anaconda-spoke-selector-status {
    color: #cc1a1a;
}

/* If the spoke is both incomplete and insensitive, let the insensitive
 * color take precedence
 */
AnacondaSpokeSelector:insensitive:inconsistent #anaconda-spoke-selector-status {
    color: inherit;
}
