# anaconda-shell@.service
# This is roughly equivalent to getty@.service, except we go straight to bash
[Unit]
Description=Shell on %I
After=systemd-user-sessions.service plymouth-quit-wait.service
ConditionKernelCommandLine=!inst.noshell

[Service]
WorkingDirectory=/
ExecStart=-/sbin/agetty --noclear -n -l /bin/bash -o '--login' %I 38400
Type=idle
Restart=always
RestartSec=0
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillMode=process
KillSignal=SIGHUP
IgnoreSIGPIPE=no
