[Unit]
Description=Clean Up Initramfs
Before=anaconda.service
ConditionPathIsDirectory=/run/initramfs/usr/lib/modules

[Service]
Type=notify
NotifyAccess=all
RemainAfterExit=yes
Nice=19
ExecStart=/usr/sbin/anaconda-cleanup-initramfs
