[Unit]
ConditionKernelCommandLine=|ip
ConditionKernelCommandLine=|inst.ks
ConditionOSRelease=|ID=rhel
ConditionOSRelease=|ID=centos
ConditionOSRelease=|ID_LIKE$=*rhel*
Description=NetworkManager autoconnections configuration for Anaconda installation environment for RHEL
Before=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/anaconda-nm-disable-autocons
