[Unit]
Description=Anaconda Text Console
Requires=anaconda.service
After=anaconda.target anaconda.service
# TODO: use ConditionArchitecture in systemd v210 or later
ConditionPathIsDirectory=!/sys/hypervisor/s390

[Service]
Type=idle
WorkingDirectory=/root
Environment=LANG=en_US.UTF-8
ExecStartPre=/usr/bin/echo -e \033%G
ExecStart=/usr/bin/tmux -u attach -t anaconda
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=always
RestartSec=0
