# anaconda-shell@.service
# This is roughly equivalent to getty@.service, except we go straight to bash
[Unit]
Description=Shell on %I
After=systemd-user-sessions.service plymouth-quit-wait.service
ConditionKernelCommandLine=!noshell
ConditionKernelCommandLine=!inst.noshell

[Service]
WorkingDirectory=/
Environment=HOME=/
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin:/mnt/sysimage/sbin:/mnt/sysimage/usr/sbin:/mnt/sysimage/bin:/mnt/sysimage/usr/bin
Environment="PS1=[anaconda \u@\h \W]\$ "
ExecStart=-/sbin/agetty -n -l /bin/bash -o '--login' %I 38400
Restart=always
RestartSec=0
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillMode=process
KillSignal=SIGHUP
