[Unit]
Description=anaconda performance monitor
Before=loader.service

[Service]
WorkingDirectory=/
ExecStart=/usr/bin/instperf
ConditionKernelCommandLine=debug
