[Unit]
Description=Driver Update Disk UI on %I
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/tmp
Environment=LANG=en_US.UTF-8
ExecStartPre=-/bin/plymouth quit
ExecStart=/bin/driver-updates
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TTYPath=/dev/%I
TTYReset=yes
TimeoutSec=0
