[Desktop Entry]
Name=Welcome to Red Hat Enterprise Linux
Exec=/usr/share/anaconda/gnome/rhel-welcome
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
