.pf-v5-c-empty-state__content {
    width: 100%;
}

.installation-progress-status {
    &-success .pf-v5-c-empty-state__icon {
        color: var(--pf-v5-global--success-color--100);
    }

    &-danger .pf-v5-c-empty-state__icon {
        color: var(--pf-v5-global--danger-color--100);
    }
}
