#installation-progress {
    .pf-c-progress__description {
        min-width: 40ch;
        text-align: left;
    }
}

.installation-progress-status {
    &-success svg {
        color: var(--pf-global--success-color--100);
    }

    &-danger svg {
        color: var(--pf-global--danger-color--100);
    }
}
