.pf-c-empty-state__content {
    width: 100%
}

.installation-progress-status {
    &-success .pf-c-empty-state__icon {
        color: var(--pf-global--success-color--100);
    }

    &-danger .pf-c-empty-state__icon {
        color: var(--pf-global--danger-color--100);
    }
}
