# Include COPR repository with daily builds of our main packages
# to base mock file which will be set by @DISTRO@ variable.

include('/etc/mock/fedora-@DISTRO@-@ARCH@.cfg')

config_opts['nosync'] = True

config_opts['yum.conf'] += """

[vtrefny-rhinstaller]
name=Copr repo for rhinstaller owned by vtrefny
baseurl=https://copr-be.cloud.fedoraproject.org/results/vtrefny/rhinstaller/fedora-@DISTRO@-$basearch/
enabled=1

[blivet-daily]
name=Copr repo for blivet-daily owned by @storage
baseurl=https://copr-be.cloud.fedoraproject.org/results/@storage/blivet-daily/fedora-$releasever-$basearch/
enabled=1
"""
