/* vendor-specific colors/images */

@define-color redhat #021519;
@define-color fedora #006eb4;

/* logo and sidebar classes for RHEL */

.logo-sidebar {
    background-image: url('/usr/share/anaconda/pixmaps/sidebar-bg.png');
    background-color: @redhat;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('/usr/share/anaconda/pixmaps/sidebar-logo.png');
    background-position: 50% 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

AnacondaSpokeWindow #nav-box {
    background-color: @redhat;
    background-image: url('/usr/share/anaconda/pixmaps/topbar-bg.png');
    background-repeat: no-repeat;
    color: white;
}

AnacondaSpokeWindow #layout-indicator {
    color: black;
}

/* swap these into logo & sidebar classes for Fedora */
/*
.logo-sidebar {
    background-image: url('/usr/share/anaconda/pixmaps/logo.png');
    background-position: 50% 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.sidebar {
    background-color: @fedora;
}

AnacondaSpokeWindow #nav-box {
    background-color: @fedora;
}
*/
