.time-display-label {
    font-size: var(--pf-global--FontSize--4xl);
    font-weight: var(--pf-global--FontWeight--bold);
}
.automatic-time-label {
    font-weight: var(--pf-global--FontWeight--bold);
}
.time-edit-heading {
    font-size: var(--pf-global--FontSize--md);
    font-weight: var(--pf-global--FontWeight--bold);
}
.time-edit-subheading {
    font-size: var(--pf-global--FontSize--sm);
    font-weight: var(--pf-global--FontWeight--bold);
}
.time-edit-automatic-hint {
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--dark-200);
}
