#!/bin/bash
#
# Build a boot.iso by lorax. The boot.iso will be stored in the `/images/` directory.
# We have to build the RPMs files of Anaconda first and then add them as volume
# mount to /anaconda-rpms to the container (could be RO mount).
#
#   sudo make -f ./Makefile.am container-rpms-scratch
#   sudo podman run -i --rm --privileged --tmpfs /var/tmp:rw,mode=1777 -v `pwd`/result/build/01-rpm-build:/anaconda-rpms:ro -v `pwd`/output-dir:/images:z quay.io/rhinstaller/anaconda-iso-creator:main
#
# Input directory:
# /anaconda-rpms/ (Anaconda RPM files for the build)
#
# Output directory:
# /images (Where the boot.iso will be stored)
#

set -eux

# pre-create loop devices manually. In the container you can't use losetup for that.
mknod -m 0660 /dev/loop0 b 7 0  2> /dev/null || true
mknod -m 0660 /dev/loop1 b 7 1  2> /dev/null || true

INPUT_RPMS=/anaconda-rpms/
OUT_DIR=/images/
REPO_DIR=/tmp/anaconda-rpms/

# create repo from provided Anaconda RPMs
mkdir -p $REPO_DIR
cp -a $INPUT_RPMS/* $REPO_DIR || echo "RPM files can't be copied!"  # We could just do the build with official repositories only
createrepo_c $REPO_DIR

# build boot.iso with our rpms
# Workaround for dracut xattr issues in containers
# See https://bugzilla.redhat.com/show_bug.cgi?id=2358683#c14
# and https://github.com/dracut-ng/dracut-ng/issues/443
export DRACUT_NO_XATTR=1

{% if distro_name == "fedora" or (distro_name == "rhel" and distro_release == 10) %}
# Do not copy container_file_t labels to the installer image
# INSTALLER-4609, INSTALLER-4592
# This does not work on rhel-9 where there is inner ext4 filesystem containing
# the container_file_t attributes packed into squashfs image
mkdir -p /etc/lorax
cat > /etc/lorax/lorax.conf <<EOF
# Added by Anaconda's lorax-build script for INSTALLER-4609
[compression]
args = -xattrs-exclude ^security.selinux
EOF
{% endif %}

. /etc/os-release
# The download.fedoraproject.org automatic redirector often selects download-ib01.f.o. for GitHub's cloud, which is too unreliable; use a mirror
# The --volid argument can cause different network interface naming: https://github.com/rhinstaller/kickstart-tests/issues/448
{% if distro_name == "fedora" %}
# Extract version from CI_TAG (e.g., "fedora-rawhide" -> "rawh", "fedora-43" -> "43")
if [ "$CI_TAG" = "fedora-rawhide" ]; then
    VOLID_VERSION="rawh"
    FEDORA_VERSION="rawhide"
else
    VOLID_VERSION=${CI_TAG#fedora-}
    FEDORA_VERSION=$VOLID_VERSION
fi

if [ "$CI_TAG" = "fedora-eln" ]; then
    ELN_BASE_URL="https://download.fedoraproject.org/pub/eln"
    LORAX_SOURCES="-s ${ELN_BASE_URL}/1/BaseOS/x86_64/os/ -s ${ELN_BASE_URL}/1/AppStream/x86_64/os/"
    EXTRA_ARGS="--nomacboot"
else
    LORAX_SOURCES="-s http://dl.fedoraproject.org/pub/fedora/linux/development/$FEDORA_VERSION/Everything/x86_64/os/"
    EXTRA_ARGS=""
fi

lorax -p Fedora -v "$VERSION_ID" -r "$VERSION_ID" \
      --volid Fedora-S-dvd-x86_64-$VOLID_VERSION \
      ${EXTRA_ARGS} \
      ${LORAX_SOURCES} \
{% elif distro_name == "rhel" and distro_release == 10 %}
MAJOR_VERSION=${VERSION_ID%%.*}
MINOR_VERSION=${VERSION_ID#*.}

lorax -p RHEL -v "$MAJOR_VERSION" -r "$MINOR_VERSION" \
      --volid "RHEL-$MAJOR_VERSION-$MINOR_VERSION-BaseOS-x86_64" \
      --nomacboot \
      -s http://download.devel.redhat.com/rhel-{$ distro_release $}/development/RHEL-{$ distro_release $}/latest-RHEL-{$ distro_release $}/compose/BaseOS/x86_64/os/ \
      -s http://download.devel.redhat.com/rhel-{$ distro_release $}/development/RHEL-{$ distro_release $}/latest-RHEL-{$ distro_release $}/compose/AppStream/x86_64/os/ \
{% endif %}
      -s file://$REPO_DIR/ \
      "$@" \
      output || cp *.log "$OUT_DIR"

cp output/images/boot.iso "$OUT_DIR"

# fix permissions to user permissions on the built artifacts
chown -Rv --reference="$INPUT_RPMS" "$OUT_DIR"
