#critical-error-bz-report-modal-review-log,
#user-issue-bz-report-modal-review-log {
  font-family: var(--pf-v5-global--FontFamily--monospace);
  font-size: var(--pf-v5-global--FontSize--sm);
}

#critical-error-bz-report-modal-details {
  font-family: var(--pf-v5-global--FontFamily--monospace);
}
