#critical-error-review-attached-log {
  font-family: var(--pf-global--FontFamily--monospace);
  font-size: var(--pf-global--FontSize--sm);
}

#critical-error-review-details {
  font-family: var(--pf-global--FontFamily--monospace);
}
