@import "global-variables";

/* Scale down the about box to be a little smaller */
@media only screen and (min-width: 992px) {
  .pf-v5-c-about-modal-box {
    --pf-v5-c-about-modal-box--lg--MaxWidth: 62rem;
    --pf-v5-c-about-modal-box--lg--MaxHeight: 38rem;
    grid-template-rows: 3rem max-content auto;
    grid-template-columns: 1fr 0fr;
  }
}

/* Hide the logo and side graphic */
.pf-v5-c-about-modal-box__brand,
.pf-v5-c-about-modal-box__strapline {
    display: none;
}

/* Make the close button more obvious, since we hide the side graphic */
.pf-v5-c-about-modal-box__close .pf-v5-c-button.pf-m-plain {
  --pf-v5-c-about-modal-box__close--c-button--BackgroundColor: var(--pf-v5-global--BackgroundColor--dark-200);
  position: absolute;
}

.pf-v5-c-about-modal-box__close .pf-v5-c-button.pf-m-plain:hover {
  --pf-v5-c-about-modal-box__close--c-button--BackgroundColor: var(--pf-v5-global--BackgroundColor--dark-400);
}

.pf-v5-c-about-modal-box {
  .title {
      font-size: var(--pf-v5-c-title--m-3xl--FontSize);
  }

  .subtitle {
    font-size: var(--pf-v5-c-title--m-xl--FontSize);
  }

  .pf-v5-c-about-modal-box__body,
  .pf-v5-c-about-modal-box__body .pf-v5-c-content,
  .pf-v5-c-about-modal-box__body .pf-v5-c-content .pf-v5-l-flex {
    height: 100%;
  }

  #about-modal-versions {
    dt {
      font-size: var(--pf-v5-global--FontSize--md);
    }
  }
}
