@import "global-variables";

/* Scale down the about box to be a little smaller */
@media only screen and (min-width: 992px) {
  .pf-c-about-modal-box {
    --pf-c-about-modal-box--lg--MaxWidth: 62rem;
    --pf-c-about-modal-box--lg--MaxHeight: 38rem;
    grid-template-rows: 3rem max-content auto;
    grid-template-columns: 1fr 0fr;
  }
}

/* Hide the logo and side graphic */
.pf-c-about-modal-box__brand,
.pf-c-about-modal-box__strapline,
.pf-c-about-modal-box__hero {
    display: none;
}

/* Make the close button more obvious, since we hide the side graphic */
.pf-c-about-modal-box__close .pf-c-button.pf-m-plain {
  --pf-c-about-modal-box__close--c-button--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  position: absolute;
}

.pf-c-about-modal-box__close .pf-c-button.pf-m-plain:hover {
  --pf-c-about-modal-box__close--c-button--BackgroundColor: var(--pf-global--BackgroundColor--dark-400);
}

.pf-c-about-modal-box {
  .title {
      font-size: var(--pf-c-title--m-3xl--FontSize);
  }

  .subtitle {
    font-size: var(--pf-c-title--m-xl--FontSize);
  }

  .pf-c-about-modal-box__body {
    height: 100%;

    > .pf-l-flex {
      height: 100%;
    }

    #about-modal-versions {
      dt {
        font-size: var(--pf-global--FontSize--md);
      }
    }
  }
}
