.installation-method-selector {
  .installation-method-disk-selector {
    width: 50%;
  }

  .pf-v5-c-form__section-title {
    font-size: var(--pf-v5-global--FontSize--md);
  }
}

.installation-method-target-disk-size {
  color: var(--pf-v5-global--Color--200);
  font-size: var(--pf-v5-global--FontSize--sm);
}
