.installation-method-selector {
  .pf-v5-c-select {
    width: 50%;
  }

  .pf-v5-c-form__section-title {
    font-size: var(--pf-v5-global--FontSize--md);
  }
}

.installation-method-target-disk-size {
  color: var(--pf-v5-global--Color--200);
  font-size: var(--pf-v5-global--FontSize--sm);
}

.installation-method-scenario {
  .pf-v5-c-radio__body {
    margin-top: 0;
    font-size: var(--pf-v5-global--FontSize--sm);

    .installation-method-scenario-disabled-reason {
      font-weight: var(--pf-v5-global--FontWeight--bold);
      margin-inline-end: var(--pf-v5-global--spacer--xs);
    }
  }
}
