.installation-method-selector {
  .installation-method-disk-selector {
    width: 50%;
  }

  .pf-v5-c-form__section-title {
    font-size: var(--pf-v5-global--FontSize--md);
  }
}

// Remove extra margin above form sections
.pf-v5-c-form.installation-method-selector {
    .pf-v5-c-form__section {
        margin-top: 0;
    }

    // Make the expandable form field groups title bold
    .pf-v5-c-form__field-group-header-title-text {
        font-weight: var(--pf-v5-c-form__section-title--FontWeight);
    }
}
