[D-BUS Service]
Name=org.fedoraproject.Anaconda.Addons.Subscription
Exec=/usr/libexec/anaconda/start-module pyanaconda.modules.subscription
User=root
