[D-BUS Service]
Name=org.fedoraproject.Anaconda.Modules.Payloads
Exec=/usr/libexec/anaconda/start-module --env LD_PRELOAD=libgomp.so.1 pyanaconda.modules.payloads
User=root
