name: Differential ShellCheck
on:
  push:
    branches: [ main, rhel-*, fedora-* ]
  pull_request:
    branches: [ main, rhel-*, fedora-* ]

permissions:
  contents: read

jobs:
  lint:
    if: github.repository == 'rhinstaller/anaconda'
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      pull-requests: write

    steps:
      - name: Repository checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - id: ShellCheck
        name: Differential ShellCheck
        uses: redhat-plumbers-in-action/differential-shellcheck@v5
        with:
          severity: warning
          token: ${{ secrets.GITHUB_TOKEN }}
          exclude-path: |
            *.j2
            **/*.j2

      - if: ${{ runner.debug == '1' && ! cancelled()}}
        name: Upload artifact with ShellCheck defects in SARIF format
        uses: actions/upload-artifact@v6
        with:
          name: Differential ShellCheck SARIF
          path: ${{ steps.ShellCheck.outputs.sarif }}
